extends board-layout 

block boardContent
  h1.mb-4= title

  ul(style='list-style: none; padding: 0; margin: 0;')
    each message in message_list
      li.list-group-item.mb-4
      if currentUser.isMember
        div.card(style='width: 100%')
          h4.card-header= message.title
          div.card-body
            div.mb-3.card-text.fs-5= message.content
            div.card-subtitle.text-body-secondary.fs-6 @#{message.user.username}
              span.card-text.text-body-secondary.fs-6  · #{message.date_formatted}
      else
        div.card(style='width: 100%')
          h4.card-header= message.title
          div.card-body
            div.mb-3.card-text.fs-5= message.content
            span.card-subtitle.text-body-secondary.fs-6 Anonymous
