extends board-layout 

block boardContent
  h1= title

  ul.mt-4(style='list-style: none; padding: 0; margin: 0;')
    if !currentUser.isMember
      li.list-group-item.mb-4 
        div.card(style='width: 100%')
          div(style="font-weight:bold;").card-header Become a member
          div.card-body
            div.mb-3.card-text.fs-6 Go to the 
              a(href="/join") become a member
              span  page and submit the secret code "12member34" to become a member and see who posted the messages you see here!
            div.card-subtitle.text-body-secondary.fs-6 @admin
    each message in message_list
      li.list-group-item.mb-4
      if currentUser.isMember
        div.card(style='width: 100%')
          div.card-header.d-flex.justify-content-between.align-items-center
            div.text-bold(style="font-weight: bold;")= message.title
            if currentUser.isAdmin
              form(method="post" action=`/messages/${message._id}/delete`)
                button.btn.btn-close(type="submit" aria-label="Close")
          div.card-body
            div.mb-3.card-text.fs-6= message.content
            div.card-subtitle.text-body-secondary.fs-6 @#{message.user.username}
              span.card-text.text-body-secondary.fs-6  · #{message.date_formatted}
      else
        div.card(style='width: 100%')
          div.card-header.d-flex.justify-content-between.align-items-center
            div(style="font-weight: bold;")= message.title
          div.card-body
            div.mb-3.card-text.fs-6= message.content
            span.card-subtitle.text-body-secondary.fs-6 Anonymous
